body {
    padding-top: 50px;
}

.carousel {
    /* height: 600px; */
    background-color: #000;
}

.carousel .item{
    /* height: 600px; */
    background-color: #000;
}

.carousel img{
    width: 100%;
}
.mar {
	padding-top: 50px;
	padding-bottom: 20px;
}


.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #f4645f;
}
.main-footer .widget .friend-links a {
  border: none;
}
.main-footer .widget .friend-links a:hover {
  border: none;
}
.main-footer .widget .friend-links hr {
  margin: 1em 0;
  border-top: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover {
  color: #f4645f;
}
.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555555;
}

.widget {
	margin-bottom: 50px;
}

.bjjs {
	font-size: 22px;
	margin-top: 30px;
	color: #60605e;
}

